@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #eeee;
}

.card{
    width: 420px;
    background: #fff;
    padding: 2rem;
    overflow: hidden;
    border-radius: 18px;
    transition: 0.6s ease-out;
    height: 110px; 
    display: flex;
    flex-direction: column;
}

.card.active{
    height: 500px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header input{
    border: none;
    font-size: 24px;
    text-transform: lowercase;
    outline: none;
}

.header input::placeholder{
    font-size: 20px;
    font-weight: 500;
    color: #06283D;
    text-transform: capitalize;
}


.header .search{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    font-size: 28px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s ease-out;
}

.header .search:hover{
    background-color: lightgray;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.body.active{
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.body img{
    width: 100%;
}

.body img.active{
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.body h3{
    text-align: center;
}

.body button{
    border: none;
    width: 80px;
    padding: 5px;
    border-radius: 6px;
    margin: 5PX;
    color: #fff;
    text-transform: capitalize;
}

@keyframes fadeInAnimation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*spiner*/
.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }